* {box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    margin: 0;
    background: url("bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.header {
    text-align: center;
    padding: 40px 0;
}

.site-name{
    background: #f2f2f2;
    padding:15px 40px;
    border: 3px solid #000;
    display: inline-block;;
}
.main{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.register-box{
    background: rgba(60, 20, 20, 0.5);
    border: 3px solid #000;
    padding: 40px;
    width: 420px;
    text-align: center;
}
.register-box h2{
    background: #f2f2f2;
    border: 3px solid #000;
    padding: 10px;
    margin-bottom: 25px;
    }
.register-box input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 3px solid #000;
}
.register-box button{
    background: #f2f2f2;
    border: 3px solid #000;
    padding: 12px 30px;
    cursor: pointer;
    margin-top: 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.about { 
    background: #f2f2f2;
    padding: 15px 25px;
    border: 3px solid #000;
    text-align: center;
    width: 300px;
    position: relative;
    left: 450px;
    
}
.about hr { 
    margin: 10px 0;
    border: 1px solid #000;
}
.info {
    background: #f2f2f2;
    padding: 15px 25px;
    border: 3px solid #000;
    text-align: center;
    width: 300px;
    position: relative;
    left: -450px;
}
.info hr { 
    margin: 10px 0;
    border: 1px solid #000;
}