* {box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    margin: 0;
    background-color: #969696;
    background-image: url('gack.jpg');
    background-size: cover;
    background-position: center;

}

.header {
    text-align: center;
    padding: 40px 0;
    border-bottom: 4px solid #000;
    background-color: #262736;
    text-align: center;
}

.logo {
    position: relative;
    top: 15px;
    left: -1000px;
    border: 2px solid #969696;
}

.site-name{
    background: #f2f2f2;
    padding: 30px 45px;
    border: 2px solid #000;
    display: inline-block;
    width: 400px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    left: 85px;
}
.main{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.register-box{
    background: rgb(204, 204, 207, 0.5);
    border: 2px solid #000;
    padding: 40px;
    width: 450px;
    text-align: center;
}
.register-box h2{
    background: #f2f2f2;
    border: 2px solid #000;
    padding: 10px;
    width: 250px;
    position: relative;
    margin: 0 auto 20px auto;
    }
.register-box input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #000;
}
.register-box button{
    background: #f2f2f2;
    border: 2px solid #000;
    padding: 12px 30px;
    cursor: pointer;
    margin-top: 20px;
}
.footer {
    background-color: #262736;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    border: 3px solid #000;
}
.about { 
    background: #f2f2f2;
    padding: 15px 25px;
    border: 3px solid #000;
    text-align: center;
    width: 400px;
    position: relative;
    left: 450px;
    
}
.about hr { 
    margin: 10px 0;
    border: 1px solid #000;
}
.info {
    background: #f2f2f2;
    padding: 30px 25px;
    border: 3px solid #000;
    text-align: center;
    width: 400px;
    position: relative;
    left: -450px;
}
.info hr { 
    margin: 10px 0;
    border: 1px solid #000;
}
