<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

<header>
    <a href="/" class="logo">Chertolet.lv</a>
</header>

<main style="padding: 80px; text-align: center;">

    <h2>This is confidential information that only a few people know.</h2>

    <button id="secretBtn" class="btn" style="margin-top: 30px;">
        Are you sure you want to know?
    </button>

<img src="{{ url_for('static', filename='img/Baner.png') }}" alt="baner ot kokstika" width="500" style="display: block; margin: 40px auto 0 auto;">

</main>

<script>
const texts = [
    "Are you sure?",
    "Are you absolutely sure?",
    "You haven't changed your mind?",
    "I would not recommend pressing this button.",
    "Do not press!!!!!!!!!!",
    "The people who found out about this have already disappeared.",
    "Stop!",
    "Please,do not PRESS"
];

const button = document.getElementById('secretBtn');

button.addEventListener('click', () => {
    const randomText = texts[Math.floor(Math.random() * texts.length)];
    button.textContent = randomText;
});
</script>

</body>
</html>