<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chertolet.lv - auto pārdošana</title>
    
    <link rel="stylesheet" href="../static/home.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <a href="#" class="logo">
            Chertolet.lv
        </a>
        
        <nav class="nav-menu">
            <a href="#">Catalog</a>
            <a href="#">Services</a>
            <a href="#">Credit</a>
            <a href="#">Reviews</a>
            <a href="#">About us</a>
        </nav>

        <a href="/" class="btn-reg">Home page</a>
    </header>

<main>

    <section class="hero-section">
        <h1 class="hero-title">Bonuses & Special Offers</h1>
        <p class="hero-subtitle">Get more when buying a car with us</p>
    </section>
    <article class="bonus-card">
        <h2>🎁 Чат с главой чертолёта</h2>
        <p class="bonus-price">price: 50 bonus</p>

        {% if bonuses >= 50 %}
            <a href="/chat_with_chertolet" class="btn-chat">
                Пора болтать!
            </a>
        {% else %}
            <button class="btn" onclick="alert('Маловато бонусов! Глава общается только с серьезными людьми')">
                Недостаточно бонусов
            </button>
        {% endif %}
        </article>

        <article class="bonus-card">
            <h2>🎁 Kanista</h2>
            <p class="bonus-price">price: 30 bonus</p>

            <form method="POST" action="/activate-bonus">
                <input type="hidden" name="bonus_id" value="1">
                <button class="btn">Activate bonus</button>
            </form>
        </article>

        <article class="bonus-card">
            <h2>🎁 Kanista</h2>
            <p class="bonus-price">price: 30 bonus</p>

            <form method="POST" action="/activate-bonus">
                <input type="hidden" name="bonus_id" value="1">
                <button class="btn">Activate bonus</button>
            </form>
        </article>

        <article class="bonus-card">
            <h2>🎁 Kanista</h2>
            <p class="bonus-price">price: 30 bonus</p>

            <form method="POST" action="/activate-bonus">
                <input type="hidden" name="bonus_id" value="2">
                <button class="btn">Activate bonus</button>
            </form>
        </article>


    </section>
    </div>
<div class="bonus_block">

</div>

</main>

<div class="bonus_block"></div>


    <footer>
        <div class="footer-content">
            <div class="footer-col">
                <a href="#" class="logo" style="margin-bottom: 20px;">
                    Chertolet.lv
                </a>
                <p>
                    For over 10 years, we’ve been helping people buy and sell cars safely, offering the best deals and fully verified vehicles.
                </p>
            </div>

            <div class="footer-col">
                <h4>For buyers</h4>
                <ul>
                    <li><a href="#">Car catalog</a></li>
                    <li><a href="#">Trade-in</a></li>
                    <li><a href="#">Auto loan</a></li>
                    <li><a href="#">Insurance</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Contacts</h4>
                <ul>
                    <li><i class="fa-solid fa-phone"></i> +371 11 111 111</li>
                    <li><i class="fa-solid fa-location-dot"></i> Jūrmala, Kauguri, 10</li>
                    <li><i class="fa-solid fa-envelope"></i> info@chertolet.lv</li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Follow us on social media</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-telegram"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-vk"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Chertoler.lv. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>